.container
  .row{style: 'float: left;'}
    .col-xs-3{style: 'width: 165px;'}
      %input.duration_input{type: 'text', value: '', name: 'hours_input', style: 'float: left;'}
    .col-xs-3{style: "width: 175px;"}
      %input.duration_input{type: 'text', value: '', name: 'mins_input', style: 'float: center;'}
    .col-xs-3{style: 'width: 180px;'}
      %input.duration_input{type: 'text', value: '', name: 'secs_input', style: 'float: right;'}

%br

= hidden_field_tag :duration_update_input, @task.duration


= simple_form_for @task, url: update_duration_path, remote: true do |f|
  = hidden_field_tag :id, @task.id
  = f.hidden_field :duration, id: 'duration_submit'
  #duration_form_filter_sort
    = hidden_field_tag :filter_tag_id
    = hidden_field_tag :sort_sql
    = hidden_field_tag :sort_label
  .modal-footer
    = f.submit 'Save', class: 'btn btn-primary', id: 'save_task_btn'
    %button.btn.btn-default{'data-dismiss': 'modal', type: 'button'} Close
