- if show_flash_for('task_form')
  .alert.alert-success #{flash[:success]}
= hidden_field_tag :last_tag_made, current_user.tags.order('created_at DESC').first.id if current_user.tags.count > 0
= simple_form_for @task, remote: true do |f|
  = f.input :title, label: 'Title:'
  .row
    .col-xs-3
      = f.input :tag, collection: current_user.tags, input_html: {class: '.form-control', id: 'tag_dropdown', selected: @task ? @task.tag : nil }
    .col-xs-5
      = link_to 'new tag', new_tag_modal_path(task_id: @task ? @task.id : nil), format: :js, remote: true
  %br
  .form-group
    = f.label :due_date, 'Due date:'
    = f.text_field :due_date, placeholder: 'MM-DD-YYYY', class: 'form-control due_date'
  = f.input :desc, label: 'Description:', id: 'desc_input'
  - if @task.created_at
    .form-group
      = f.label :duration, 'Duration:'
      .row
        .col-md-6
          %span.edit_timer
            - if @task and @task.duration
              = duration_display(@task.duration)
            - else
              Not started
          %span= link_to 'edit duration', update_duration_modal_path(id: @task.id), format: :js, remote: true



  = f.submit 'Save', class: 'btn btn-primary', id: 'save_task_btn'
