- if show_flash_for('task_form')
  .alert.alert-success #{flash[:success]}
- if current_user.tags.count > 0
  = hidden_field_tag :last_tag_id, Tag.where(user_id: current_user.id).last.id
  = hidden_field_tag :last_tag_name, Tag.where(user_id: current_user.id).last.name
= simple_form_for @task, remote: true do |f|
  = f.input :title, label: 'Title:'
  .row
    .col-xs-3
      = label :tag_id, 'Tag:'
      = f.input :tag_id, as: :hidden, input_html: {id: 'hidden_tag_input', value: @task.tag ? @task.tag.id : nil}
      .dropdown
        %button.btn.btn-secondary.dropdown-toggle{'data-toggle': 'dropdown', type: 'button'}
          %span#select_tag= @task.tag ? @task.tag.name : '------'
          %span.caret
        %ul.dropdown-menu#tag_dropdown
          %li
            = link_to 'Create New Tag', new_tag_modal_path(task: @task), class: 'dropdown-item', remote: true
          %li
            .divider
          - current_user.tags.order('name ASC').each do |tag|
            %li
              = link_to tag.name, '#', value: tag.id, class: 'tag_option dropdown-item'


  %br
  .form-group
    = f.label :due_date, 'Due date:'
    = f.text_field :due_date, placeholder: 'MM-DD-YYYY', class: 'form-control due_date'
  = f.input :desc, label: 'Description:', id: 'desc_input'
  - if @task.created_at
    .form-group
      = f.label :duration, 'Duration:'
      .row
        .col-md-6
          %span.edit_timer
            - if @task and @task.duration
              = duration_display(@task.duration)
            - else
              Not started
          %span= link_to 'edit duration', update_duration_modal_path(id: @task.id), format: :js, remote: true



  = f.submit 'Save', class: 'btn btn-primary', id: 'save_task_btn'
