/ Modal
#showModal.modal.fade{:role => "dialog"}
  .modal-dialog
    / Modal content
    .modal-content
      .modal-header
        - if show_flash_for('task_form')
          .alert.alert-success #{flash[:success]}
        %button.close{"data-dismiss" => "modal", :type => "button"} &times;
        %h4.modal-title= @task.title
      .modal-body#show-modal-body
        = hidden_field_tag :task_running, @task.running?

        = label :desc, 'Description:'
        %p= @task.desc
        .row.table-bordered
          .col-xs-4
            = label :due_date, 'Due date:'
            %p= @task.due_date.strftime("%m/%d/%Y") if @task.due_date
          .col-xs-4
            = label :created_at, 'Created at:'
            %p= @task.created_at.strftime("%m/%d/%Y") if @task.created_at
          .col-xs-4
            = label :completed_at, 'Completed at:'
            %p= @task.completed_at.strftime("%m/%d/%Y") if @task.completed_at
        = label :duration, 'Duration:'
        .displays_timer
          - if @task and @task.duration
            = duration_display(@task.duration)
          - else
            Not started

        %br
        %br
        %span= link_to 'Edit', {action: "edit_modal", format: :js, remote: true, task: @task}, class: 'btn btn-primary'
        %span=  link_to 'Delete', "/tasks/#{@task.id}", class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure you want to delete this task?' }
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
