- unless flash[:success].to_s == ''
  .alert.alert-success #{flash[:success]}
= simple_form_for @task, remote: true do |f|
  = f.input :title
  %br
  = f.label :tag
  = f.collection_select :tag_id, Tag.order('name ASC').all, :id, :name, include_blank: true
  = link_to "Create new tag", {:controller => "tags", :action => "new_tag_form", :format => :js, :remote => true}
  %br
  %br
  .form-group
    = f.label :due_date
    = f.text_field :due_date, placeholder: "YYYY-MM-DD", class: 'form-control'
  %br
  = f.input :desc, label: 'Description'

  .input-group
    %input.duration-input#hours{:name => "hours", :type => "text", :value => "0"}
    %input.duration-input#mins{:name => "mins", :type => "text", :value => "0"}
    %input.duration-input#secs{:name => "secs", :type => "text", :value => "0"}


  = f.submit 'Save', class: 'btn btn-primary', id: 'save_task_btn'
