- if flash[:success] == "Task successfully created!"
  .alert.alert-success #{flash[:success]}
= simple_form_for @task, remote: true do |f|
  = f.input :title
  = f.label :tag
  = f.collection_select :tag_id, Tag.order('name ASC').all, :id, :name, include_blank: true
  = link_to "Create new tag", {:controller => "tags", :action => "new_tag_form", :format => :js, :remote => true}

  .form-group
    = f.text_field :due_date, placeholder: "YYYY-MM-DD", class: 'form-control'

  = f.input :desc

  - content_for :save_button do
    = f.submit 'Save', class: 'btn btn-primary', id: 'save_task_btn'