.row
  .col-md-6
    %h1 Tasks
  .col-xs-5.filter.dropdown
    %span Filter by:
    %span.tag_filter
      %button.btn.btn-secondary.dropdown-toggle{'data-toggle': 'dropdown', type: 'button'}
        %span= @filter_sort[:filter_tag_id].to_i != 0 ? current_user.tags.find(@filter_sort[:filter_tag_id]).name : 'All Tags'
        %span.caret
      %ul.dropdown-menu#tag_dropdown{style: "margin-left: 50px;"}
        %li= link_to 'All Tags', filter_sort_by_path(filter_tag_id: nil, sort_sql: @filter_sort[:sort_sql], sort_label: @filter_sort[:sort_label]), remote: true
        - current_user.tags.order('name ASC').each do |tag|
          %li
            = link_to tag.name, filter_sort_by_path(filter_tag_id: tag.id, sort_sql: @filter_sort[:sort_sql], sort_label: @filter_sort[:sort_label]), class: 'tag_option dropdown-item', remote: true
    %span Sort by:
    %span.tag_sort
      %button.btn.btn-secondary.dropdown-toggle{'data-toggle': 'dropdown', type: 'button'}
        %span= @filter_sort[:sort_label].blank? ? 'Alphabetical' : @filter_sort[:sort_label]
        %span.caret
      %ul.dropdown-menu#tag_dropdown{style: "margin-left: 200px;"}
        - sort_by_options.each do |option|
          %li
            = link_to option[:label], filter_sort_by_path(filter_tag_id: @filter_sort[:filter_tag_id], sort_sql: option[:sql], sort_label: option[:label]), class: 'tag_option dropdown-item', remote: true

- @incomplete_tasks.where(tag_id: @filter_sort[:filter_tag_id].to_i != 0 ? @filter_sort[:filter_tag_id] : current_user.tags.pluck(:id)).order(@filter_sort[:sort_sql] ? @filter_sort[:sort_sql].to_s : 'title ASC').each do |task|
  .row.well.task{id: "task-#{task.started_at.nil? ? "paused" : "running"}", data: { running: (!!task.started_at).to_s }}

    .col-md-4
      %h4= link_to task.title, show_task_modal_path(id: task.id, filter_tag_id: @filter_sort[:filter_tag_id], sort_sql: @filter_sort[:sort_sql], sort_label: @filter_sort[:sort_label]), format: :js, remote: true
    .col-md-4{style: 'margin-top: 8px;', class: task.started_at ? 'running_time' : ''}
      = hidden_field_tag :duration_field, task.duration
      = hidden_field_tag :started_field, task.started_at.to_i
      - if task.duration
        = duration_display(task.duration)
      - else
        Not started

    .col-md-4{style: 'margin-top: 3px;'}
      = hidden_field_tag :running_time, task.duration
      .pull-right
        -# If the task has a started_at, show a pause button, because it's running

        - if task.started_at.nil?
          = link_to start_task_path(task, filter_tag_id: @filter_sort[:filter_tag_id], sort_sql: @filter_sort[:sort], sort_label: @filter_sort[:sort_label]), class: 'play_btn btn btn-default', format: :js, remote: true do
            %span.glyphicon.glyphicon-play

        -else
          = link_to pause_task_path(task, filter_tag_id: @filter_sort[:filter_tag_id], sort_sql: @filter_sort[:sort], sort_label: @filter_sort[:sort_label]), class: 'pause_btn btn btn-default', format: :js, remote: true do
            %span.glyphicon.glyphicon-pause



        = link_to complete_task_path(task, filter_tag_id: @filter_sort[:filter_tag_id], sort_sql: @filter_sort[:sort], sort_label: @filter_sort[:sort_label]), class: 'btn btn-success', format: :js, remote: true do
          %span.glyphicon.glyphicon-ok
        = link_to destroy_task_path(task, filter_tag_id: @filter_sort[:filter_tag_id], sort_sql: @filter_sort[:sort], sort_label: @filter_sort[:sort_label]), class: 'btn btn-danger', format: :js, remote: true, data: { confirm: 'Are you sure you want to delete this task?' } do
          %span.glyphicon.glyphicon-trash


