.container
  #new-modal= render 'new_modal'
  #incomplete-tasks= render 'incomplete_tasks'
  #complete-tasks= render 'complete_tasks'
  #show-modal= render 'show_modal'
  #edit-modal= render 'edit_modal'

