.container
  #new-modal= render 'tasks/modals/new_modal'
  #incomplete-tasks= render 'incomplete_tasks'
  #complete-tasks= render 'complete_tasks'
  #show-modal= render 'tasks/modals/show_modal'
  #edit-modal= render 'tasks/modals/edit_modal'
  #duration-modal= render 'tasks/modals/duration_modal'
  #tag-modal= render 'tags/tag_modal'
