.container
  #new-modal
  #incomplete-tasks= render 'incomplete_tasks'
  #complete-tasks= render 'complete_tasks'
  #show-modal= render 'tasks/modals/show_modal'
  #edit-modal
  #duration-modal= render 'tasks/modals/duration_modal'
  #tag-modal= render 'tags/tag_modal'
