.container
  #new-task-modal
  #incomplete-tasks= render 'tasks/incomplete_tasks'
  #complete-tasks= render 'tasks/complete_tasks'
  #show-task-modal= render 'tasks/modals/show_modal'
  #edit-task-modal
  #duration-modal= render 'tasks/modals/duration_modal'
  #new-tag-modal= render 'tags/new_tag_modal'
  #manage-tags-modal= render 'tags/manage_tag_modal'
  #reset-tasks-modal= render 'tasks/modals/reset_tasks_modal'


