- unless flash[:success].nil?
  .alert.alert-success #{flash[:success]}
= simple_form_for @tag, remote: true do |f|
  = f.input :name
  = f.submit 'Save', class: 'btn btn-primary'
%br
#tag-list
  - Tag.all.each do |tag|
    .row.well
      .col-md-4
        = tag.name

      .col-md-4
        Tasks:


      .col-md-4
        .pull-right
          = link_to destroy_tag_path(tag), class: 'btn btn-danger', format: :js, remote: true, data: { confirm: 'Are you sure you want to delete this tag?' } do
            %span.glyphicon.glyphicon-trash