- current_user.archives.each do |archive|
  %h1= "Archive of #{archive.created_at.strftime('%m/%d/%Y')}"
  - current_user.tasks.where(archive_id: archive.id). each do |task|
    .row.well
      .col-md-4
        %h4= link_to task.title, show_task_modal_path(id: task.id), format: :js, remote: true, task: task

      .col-md-4{style: 'margin-top: 10px;'}
        Time took:
        = duration_display(task.duration)


      .col-md-4{style: 'margin-top: 10px;'}
        Finished
        = finished_display(task.completed_at)
