%h1 Archives:

= will_paginate @archives
- @archives.each do |archive|

  .row.well{style: 'padding: 0;'}
    .col-sm-6{style: 'padding-bottom: 5px;'}
      %h2{"data-target" => "#archive#{archive.id}", "data-toggle" => "collapse", :type => "button"}
        = link_to "#{archive.created_at.in_time_zone('America/New_York').strftime('%m-%d-%Y %I:%M %P')}", '#'
    .col-sm-1.pull-right{style: 'margin-top: 18px;'}
      = link_to destroy_archive_path(archive), class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete this archive?' } do
        %span.glyphicon.glyphicon-trash
  .row.collapse{id: "archive#{archive.id}"}
    .scroll.table-bordered{style: 'max-height: 550px;'}
      %h3 Incomplete Tasks
      - only('incomplete', tasks_in(archive)). each do |task|
        .row.well.small-well{style: 'padding: 0; margin: 0;'}
          .col-md-4{style: 'margin-right: 0;'}
            %h4= link_to task.title, show_task_modal_path(id: task.id), format: :js, remote: true, task: task

          .col-md-4{style: 'margin-top: 10px;'}
            Time took:
            = duration_display(task.duration)


          .col-md-4{style: 'margin-top: 10px;'}
            - if task.completed_at
              Finished
              = finished_display(task.completed_at)
            - else
              Not Finished

      %h3 Complete Tasks
      - only('complete', tasks_in(archive)). each do |task|
        .row.well.small-well{style: 'padding: 0; margin: 0;'}
          .col-md-4
            %h4= link_to task.title, show_task_modal_path(id: task.id), format: :js, remote: true, task: task

          .col-md-4{style: 'margin-top: 10px;'}
            Time took:
            = duration_display(task.duration)


          .col-md-4{style: 'margin-top: 10px;'}
            - if task.completed_at
              Finished
              = finished_display(task.completed_at)
            - else
              Not Finished







#show-task-modal= render 'tasks/modals/show_modal'

