!!!
%html
  %head
    = favicon_link_tag 'stopwatch.ico'
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}/
    %title FiveTee
    -# Total Time & Task Tracking Training
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    - if alert
      .alert.alert-danger= alert
    = yield
