!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FiveTee
    -# Total Time & T Tracking Training
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .navbar.navbar-default
      .container-fluid
        %ul.nav.navbar-nav
          %li= link_to 'Five Tee', root_path
          %li= link_to 'Download', download_task_path

    .container
      = yield
